body {font-family: Arial, sans-serif; margin: 0 10px}
.image-container {display: flex;}
.dryMaize {width: 48%; margin-right: 5px; background-color: #f1f1f1}
.dry {width: 100%; height: auto;}
.fresh {width: 100%; height: auto}
.freshMaize {width: 48%; background-color: #f1f1f1; margin-left: 5px}
h3 {text-align: center}
.red {color: red; text-align: center}
.term {text-align: center}
.form-container {display: flex}
label {border: 1px solid gray; border-radius: 5px; padding-right: 15px}
input {margin-bottom: 3px; width: 100%}
.button {background-color: red; width: 100%}
h2 {text-align: center; color: red}
.success {color: green}
.poiner {display: flex; width: 100%; column-gap: 20px; border-bottom: 15px solid #f1f1f1}
.by {display: flex; margin-top: 40px;}
.az { background-color: lightgreen; border-radius: 50%; padding-top: 5px; padding-right: 1.5px; text-align: center;}
#form-container {width: 90%;}
#button {width: 30%; background-color: red; margin-left: 35%;}
@media screen and (max-width: 700px) {
  .poi {width: 100%; column-gap: 20px; border-bottom: 15px solid #f1f1f1; height: 50%;}
}
